{% extends "rome_templates/base.html"%}

{% block page_head %}
<p style="display: flex; border: solid 2px red; padding: 1rem; font-size: 1.25rem; margin: 0 200px 0 0;"><span style="font-size: 2rem; padding-right: 1rem;">★</span><span>Please note: this site is no longer updated and may not conform to modern accessibility requirements. If you need assistance, please contact <a href="mailto:library-accessibility@brown.edu">the library accessibility team</a>.</span></p>
<h1>{{title}}</h1>
<div class="intro"><h2>A Virtual Roman Library</h2></div>
<div class="page_icon"></div>
{% endblock %}

{% block page_heading %}{% endblock %}



{% block content %}
<div id="heroRight"></div>
	<div id="heroLeft"></div>
	<div id="sitenav">
		<ul>
            <li><a href="{% url 'books' %}">Books</a></li>
            <li><a href="{% url 'prints' %}">Prints</a></li>
            <li><a href="{% url 'people' %}">People</a></li>
            <li><a href="{% url 'essays' %}">Essays</a></li>
            <li><a href="{% url 'shops' %}">Print Shops</a></li>
            <li><a href="{% url 'links' %}">Links</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
		</ul>
	</div>

{% endblock %}
